

<div class="header">
    <div class="requestCalendar">

        <a href="" class="requestService">Request Service</a>
    </div>
</div>
<div class="serviceContact">
    <div class="image">
        <img src="https://lirp.cdn-website.com/7e2700cb/dms3rep/multi/opt/429b7804-f8eb-4890-a5e8-2287a8cbe9ce-a73fbd91-293w.png" alt="">
    </div>
    <div class="serviceContent">
        
        <p >24/7 SERVICE AVAILABLE</p><br><p class="service number"> (720) 882-3981</p>
        </div>

        <div class="col-lg-4">
            
            
           
            <a _ngcontent-ng-c2461795632="" routerlink="contact" ng-reflect-router-link="contact" href="/contact" style="
    font-size: 12px;
    font-weight: bold;
    margin-right: 14px;
">contact</a>
            <!-- <a routerLink="contact">contact</a> -->
            <a _ngcontent-ng-c3320890617="" routerlink="serviceAreas" ng-reflect-router-link="serviceAreas" href="/serviceAreas" style="
    font-size: 12px;
    font-weight: bold;
    margin-right: 83px;
">serviceAreas</a>
            <!-- <a routerLink="serviceAreas">serviceAreas</a> -->
            <a _ngcontent-ng-c3089387046="" routerlink="about" ng-reflect-router-link="about" href="/about" style="
    font-size: 12px;
    font-weight: bold;
    margin-right: 181px
">About</a>
            <!-- <a routerLink="about">About</a> -->
            <a _ngcontent-ng-c3468412854="" routerlink="services" ng-reflect-router-link="services" href="/services" style="
    font-size: 12px;
    font-weight: bold;
    margin-right: 242px;
">services</a>
            <!-- <a routerLink="services">services</a> -->
            <a _ngcontent-ng-c2914140991="" _ngcontent-ng-c993406113="" routerlink="" ng-reflect-router-link="" href="/" style="font-size: 12px;font-weight: bold;margin-right: 319px;">Home</a>
        </div>
        
           
    
 
         
<div class="containr-fluid top " style="background-color: rgb(221, 209, 240);
margin-bottom: -1px;
">
    <!-- <div class="row"> 
         -->
        
      
        
               